
{% extends 'base.html' %}

{% block content %}
<script>

$(document).ready(function(){
    $( "#from" ).datepicker();
    $( "#till" ).datepicker();

    $(".like").click(function(event) {
        var url = event.target.value;
        console.log(url);

        $.ajax({
            url: "/like_track?url="+url,
            type: "GET",
            dataType: 'json',
            xhrFields: { withCredentials: true },
            success: function() {console.log('done');},
            error: function() {console.log('error in remote call');}
        });
    });

    window.like = function(url) {
        $.ajax({
            url: "/like_track?url="+url,
            type: "GET",
            dataType: 'json',
            xhrFields: {withCredentials: true},
            success: function() {console.log('done');},
            error: function() {console.log('error in remote call');}
        });
    }

    window.follow = function(url) {
        $.ajax({
            url: "/follow_user?url="+url,
            type: "GET",
            dataType: 'json',
            xhrFields: { withCredentials: true },
            success: function() {console.log('done');},
            error: function() {console.log('error in remote call');}
        });
    }

    $(".follow").click(function(event) {
        var url = event.target.value;
        console.log(url);
        $.ajax({
            url: "/follow_user?url="+url,
            type: "GET",
            dataType: 'json',
            xhrFields: { withCredentials: true },
            success: function() {console.log('done');},
            error: function() {console.log('error in remote call');}
        });
    })

    $('#scrapMails').click(function() {
        var from_date = $( "#from" ).datepicker( "getDate" );
        var till_date = $( "#till" ).datepicker( "getDate" );

        if(from_date == null || till_date == null) {
            alert("Please select dates");
            return;
        }

        var from_month = from_date.getMonth() + 1;
        var to_month = till_date.getMonth() + 1 ;

        var from = from_date.getFullYear()+'/'+ from_month + '/'+ from_date.getDate();
        var end = till_date.getFullYear()+'/'+ to_month + '/' + till_date.getDate();

        //alert("Starting scraping in the background...");
        $.ajax({
            url: "/sync?from="+from+"&end="+end,
            type: "GET",
            dataType: 'json',
            xhrFields: { withCredentials: true},
            success: function (data) {
                if ('error' in data) {
                    alert('ERROR: ' + data.error);
                } else {
                    alert("Scraping started in the background...");
                    setTimeout(function(){location.reload()}, 3000);
                }
            },
            error: function () {alert('error processing request')}
        });
    });
});
  </script>
<!--  '''
  $(function() {
  });
''' -->



          {% if  user and not user.is_anonymous %}


          <ol class="breadcrumb" style="margin-bottom:0px">
          <form class="form-inline">
  <div class="form-group">
    <input type="text" class="form-control" id="from" placeholder="From Date">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="till" placeholder="Till Date">
  </div>

  <a  id="scrapMails" class="btn btn-info"> <span class="glyphicon glyphicon-scissors"  aria-hidden="true"> </span> Scrap Emails</a>

<div class="form-group pull-right">
 {% if prev_page != 0 %}
 <a href="?current_page={{prev_page}}"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"> </span> </a>
 {% endif %}

 <span> {{current_page}} </span>

  {% if next_page != 0 %}
 <a href="?current_page={{next_page}}"> <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"> </span> </a>
 {% endif %}

 {% if soundcloud == False %}
  <a href="/login/soundcloud/?next=/" class="btn btn-warning"> <span class="glyphicon glyphicon-music" aria-hidden="true"> </span> Integrate SoundCloud</a>
 {% endif %}
  <a href="/logout/?next=/" class="btn btn-danger"> <span class="glyphicon glyphicon-off" aria-hidden="true"> </span> </a>

</div>


  <br/>
</form>
</ol>

<div class="alert alert-info alert-dismissible" role="alert" style="position:fixed;width:100%;z-index:1051;margin-bottom:0;float:bottom;bottom:0">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
 <span id="message"> App under development. Database resets are bound to happen. </span>
</div>


  {% endif %}
      <!-- Main component for a primary marketing message or call to action -->


   {% if user and not user.is_anonymous %}
     <div class="container" style="height:60%;overflow:scroll">
      <!-- Example row of columns -->
      <div class="row">

      <br/>
      <br/>
      <br/>

      {% for track in tracks %}

        <div class="col-md-6">
        <a href="{{track.link}}"> {{track.embed | safe}} </a>
        <br/>
         <br/>
              {% if track.track_type == "soundcloud" %}
               {% if soundcloud == True %}

        <button type="button" id="like" value="{{track.link}}" class="btn btn-success" onclick="like('{{track.link}}');" aria-label="Left Align">
          <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
        </button>
           <button type="button" id="follow" value="{{track.author_link}}"  onclick="follow('{{track.author_link}}');" class="btn btn-primary" aria-label="Left Align">
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        </button>
        {% endif %}

        {% else %}

         <a class="btn btn-info" href="{{track.link}}">
          <span class="glyphicon glyphicon-play-circle
" aria-hidden="true"></span>
        </a>


                  {% endif %}

                 <br/>
                    <br/>

        <!--
          <p><img src="{{track.thumbnail}}"  class="img-thumbnail"></p>
          <span> {{track.title}} </span>

          {% if track.track_type == "soundcloud" %}
          <p> <a class="btn btn-danger" href="{{track.link}}" role="button">Listen Audio</a>
          {% else %}
          <p> <a class="btn btn-danger" href="{{track.link}}" role="button">Watch Video</a>
          {% endif %}
          <p><a class="btn btn-default" href="{{track.author_link}}" role="button">{{track.author}}</a></p>
          -->

        </div>


      {% empty %}

      <!-- Nothing -->




      {% endfor %}
 <br/>
                    <br/>

                    <br/>


          </div>
          </div>

           {% else %}

 <center>
 <br/>
 <br/>
 <br/>
 <br/>


        <h1>GSCRAP</h1>
        <br/>
        <p class="lead">Hard to find those youtube,soundcloud tracks you love. Give the heavy lifting to us. While you enjoy the music :) </p>
<br/>
          <p>

          <a class="btn btn-lg btn-success" href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}"> <span class="glyphicon glyphicon-user"> </span> Sign up today</a>
        </p>
</center>



  {% endif %}


{% endblock %}
